 #inputFlightCodeID {
    /* position: absolute; */
    max-width: 100%;
    width: 30rem;
} 

#inputPostalCodeID {
    /* position: relative; */
    max-width: 100%;
    width: 30rem;
}  

#inputcityCodeID {
    /* position: relative; */
    max-width: 100%;
    width: 30rem;
}  

#inputAirportCodeID {
    /* position: relative; */
    max-width: 100%;
    width: 30rem;
}  

#input_arrival_airline_CodeID {
    /* position: relative; */
    max-width: 100%;
    width: 30rem;
}  

#input_arrival_airport_CodeID {
    /* position: relative; */
    max-width: 100%;
    width: 30rem;
}  
.select2.select2-container {
    width: 100% !important;
  }